/*
 Created by Somesh Chatterjee.
*/
/* 
    Created on : 5 Jun, 2016, 10:46:10 PM
    Author     : somesh
*/

.CompanyMaster.ColumnNumber0 {
    width: 120px;
}

.CompanyMaster.ColumnNumber1 {
    width: 80px;
}

.CompanyMaster.ColumnNumber2 {
    width: 110px;
}