/*
 Created by Somesh Chatterjee.
*/
/* 
    Created on : 5 Jun, 2016, 2:26:30 PM
    Author     : somesh
*/

.Dashboard.ColumnNumber0 {
    width: 120px;
}

.Dashboard.ColumnNumber1 {
    width: 80px;
}

.Dashboard.ColumnNumber2 {
    width: 110px;
}

.Dashboard.ColumnNumber3 {
    width: 120px;
}

.Dashboard.ColumnNumber4 {
    width: 100px;
}

.Dashboard.ColumnNumber5 {
    width: 90px;
}