/*
 Created by Somesh Chatterjee.
*/
/* 
    Created on : 5 Jun, 2016, 8:37:03 PM
    Author     : somesh
*/

#Incoming {
    margin-left: 0px;
}

#Outgoing {
    margin-left: 0px;
}

#CompanyMaster {
    margin-left: 0px;
}

#ItemMaster {
    margin-left: 0px;
}

#Transporter {
    margin-left: 0px;
}

#Dashboard {
    margin-left: 0px;
}

#SuperLedger {
    margin-left: 0px;
}